<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>TimePicker Component</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <li-ionic-timepicker [(ngModel)]="myTime1" [inputTimeConfig]="timePickerObj"></li-ionic-timepicker>

  <ion-item>
    <li-ionic-timepicker [(ngModel)]="myTime2" [inputTimeConfig]="timePickerObj"></li-ionic-timepicker>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col>
        <li-ionic-timepicker [(ngModel)]="myTime3" [inputTimeConfig]="timePickerObj"></li-ionic-timepicker>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>